[submodule "submodules/gpuimage"]
	path = submodules/gpuimage
	url = git://github.com/BradLarson/GPUImage.git
[submodule "submodules/sharekit"]
	path = submodules/sharekit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "submodules/mbprogresshud"]
	path = submodules/mbprogresshud
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "submodules/rate"]
	path = submodules/rate
	url = git://github.com/arashpayan/appirater.git
